<h1>Stack Overflow</h1>

<h2><%= @question.title %></h2>
<h3><%= @question.description %></h3>

<%= render "responses/form" %>
</br>
<div id="qr">
  <% @question.responses.each do |response| %>
    <% @vote.response_id = response.id %>
    <p><%= render "votes/form" %><%= response.description %></p>
  <% end %>
</div>
